/* Remove default bullets */
ul, .tree {
    list-style-type: none;
}

/* Style the caret/arrow */
.tree-caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.tree-caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.tree-leaf{
    user-select: none;
    display: inline-block;
}

.tree-leaf::before {
    content: "\25C6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}


/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.tree-caret-down::before {
    transform: rotate(90deg);
}

.tree-label-inactive {
    color: gray;
}

.tree-label-selected{
    background-color: lightblue;
}